.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  color: white;
  min-height: 500px;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature {
  font-size: 6em;
}

.city {
  font-size: 7em;
}

.forcast {
  /* margin: 15px; */
  font-size: 2em;
}

.sidePanel {
  height: auto;
  order: 1;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.weatherData {
  order: 0;
}

.inputContainer {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 5px;
}

.formInput {
  border: none;
  margin-top: 30px;
  margin-right: 15px;
  min-width: 250px;
  min-height: 40px;
}

input[type='text'] {
  font-size: 24px;
}

.errorMsg {
  color: black;
}

.searchBtn {
  margin-top: 35px;
  margin-right: 5px;
  width: 2em;
}

.sidePanelContainer {
}

.weatherDisplayContainer {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  /* height: 80%; */
  /* margin: auto; */
  /* vertical-align: 70%; */
  flex-wrap: wrap;
  margin-top: 150px;
  justify-content: center;
  min-width: 50em;
}

li {
  list-style: none;
}

@media screen and (max-width: 500px) {
  .sidePanel {
    display: none;
  }
}

.titleDate {
  margin-left: 20px;
}
