
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: white;
    min-height: 500px;
}



.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature{
    font-size: 120px;
}

.city {
    font-size: 10vw;
}

.forcast {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 15px;
    font-size: 30px;
}

.sidePanel {
    height: auto;
    order: 1;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    /* align-items: center; */
}

.weatherData {
    order: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inputContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.formInput {
    border: none;
    margin-top: 30px;
    margin-right: 5px;
    min-width: 250px;
    min-height: 40px;
}

input[type="text"]
{
    font-size:24px;
}

.searchBtn {
    margin-top: 35px;
    margin-right: 5px;
    width: 2em;
}

.sidePanelContainer {
    
}

.weatherDisplayContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    min-width: 50em;
}

li {
    list-style: none;
}

@media screen and (max-width: 1150px) {
    .sidePanel{
        display: none;
    }
}